body{
  text-align: center;
  font-family: 'Caladea';
}
.name{
  float: left;
  width: 45%;
  padding-top: 40px;
}
.email{
  float: right;
  width: 45%;
  padding-top: 40px;
}
.phone{
  float: left;
  width: 45%;
}
.message{
  align-items: initial;
}
#message{
  height: 100px;
}
.icons{
  padding-top: 70px;
}
.button {
  padding-top: 50px;
}
h1{
  font-family: 'Akronim';
  padding-top: 100px;
  text-decoration: underline;
  font-size: 70px;
}
p{
  font-family: 'Trade Winds';
  font-size: 25px;
}
#contacts{
  float: left;
}
.hidden{
  display: none;
}
.clickable{
  color: blue;
}
.contact{
  background-image: url(../img2/animal-dog-snow-winter-white-bichon-frise.jpg);
  font-family: 'Yeon sung';
}
.about{
  background-image: url(../img2/animal-dog-snow-winter-white-bichon-frise.jpg);
}
nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  background: grey;
}

nav ul{
  float: right;
  margin: 0;
  padding-right: 42px;
}

nav ul li{
  display: inline-block;
  padding: 16px 32px;
}

nav ul li a{
  text-decoration: none;
  color: blueviolet;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.logo{
  height: 48px;
  float: left;
  margin: 16px 48px;
}
nav.black{
  background: black;
  opacity: 0.60;
}
