body{
    margin: 0;
}

#showcase{
    background: linear-gradient(rgba(0,0,100,0.5));
    background-image: url('../img/dog.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background: grey;
}

nav ul{
    float: right;
    margin: 0;
    padding-right: 42px;
}

nav ul li{
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a{
    text-decoration: none;
    color: blueviolet;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.logo{
    height: 48px;
    float: left;
    margin: 16px 48px;
}

#showcase h1{
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    padding-top: 350px;
    color: blueviolet;
    font-family: 'Lobster', cursive;
}

nav.black{
    background: black;
    opacity: 0.60;
}

