  h2 {
    text-align: center;
    color:whitesmoke;
    font-size: 3.0em;
  }
  #mnu{
      text-align: center;
      color:white;
  }
  #myForm {
    display:none;
  }
  body{
    background-image: url('../img/bg/bg.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

