  h2 {
    text-align: center;
    color:whitesmoke;
    font-size: 3.0em;
  }
  #mnu{
      text-align: center;
      color:white;
  }
  #myForm {
    display:none;
  }
  body{
    background-image: url(https://bit.ly/2VJEeoU);
    /* background-color: black; */
}
/* new section */
nav {
    position: fixed;
    width: 100%;
    line-height: 50px;
    background:whitesmoke; 
    opacity:20%;
    z-index: 1;
}

nav ul{
    float: right;
    text-align: center;
    margin: 0;
    padding-right: 42px;
}

nav ul li{
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a{
    text-decoration: none;
    color: blueviolet;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.logo{
    height: 48px;
    float: left;
    margin: 16px 48px;
}
nav.black{
    background: black;
    opacity: 1.0;
}
.icons{
    text-align: center;
    padding-top: 100px;
}
.blockquote-footer{
    text-align: center;
}
